<style>
  h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
  }
</style>

<p><%= link_to "Add a New Place", "/places/new" %></p>

<ul>

  <% @places.each do |place| %>
    <li>
      <%= link_to place.title, "/places/#{place.id}" %>
      (<%= number_to_currency(place.price / 100) %>)
      <%= link_to "(delete)", "/places/#{place.id}/delete" %>
    </li>
  <% end %>

</ul>
